body{
    margin:0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;

}

main {
    width: 90vw;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

/* nav */
nav{
    width: 100vw;
    margin:0 auto;
}

nav ul {
    all:initial;
    width: 100vw;
    border-collapse: collapse;
    display: flex;
}

nav li{
    list-style-type:none;
}

nav a{
    text-decoration: none;
}

nav a {
    border: solid black 1px;
    border-width: 1px 0 1px 1px;
    display: inline-block;
    padding: 10px 20px;
    border-collapse: collapse;
    background-color: beige;
}

nav a:first-child{
    width: 30.3333vw;
}
nav a:nth-child(2){
    width: 30.3333vw;
}
nav a:last-child{
    width: 39.3333vw;
}

nav a:last-child{
    border-width: 1px 1px 1px 1px;
}

nav a:last-child {
    margin-right: 0;
}

/*
search bar
 */
.search-bar {
    width: 100%;
    margin: 0.75em 0;
    height: 32px;
    border: solid black 2px;
    border-radius: 5px;
    border-collapse: collapse;
}

.search-bar input {
    display: inline-block;
    margin-right: 0.75em;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding-left: 0.75em;
    border-collapse: collapse;
}

.icon img {
    width: 32px;
    height: 32px;
}
/*
all the schedule divs
 */

article{
    margin:0.75em 0;
    background-color: #fcf4e3;
    border-radius: 5px;
    padding: 0.45em;
    box-sizing: border-box;
    overflow: auto;
}

.schedule .wrapper{
    justify-content: space-between;
}

.schedule .morning, .schedule .afternoon{
    height: 100%;
    background-color: #bde2f8;
}

.schedule table{
    border-spacing: 0.3em;
    border: solid 1px black;
}

.schedule td,.schedule th{
    border: solid 1px black;
    padding: 0.15em 0.25em;
}

.schedule caption{
    font-style: italic;
    text-align: left;
}

.slot-configure input{
    max-width: 6em;
}

/*
today div
 */

article.today{
}

/*
tomorrow div
 */
article.tomorrow{
}

/*
the-day-after-tomorrow div
 */
article.the-day-after-tomorrow{
}

div.schedule span{
    display: inline-block;
    margin-right: 0.25em;
}

/*
latest 20 orders
 */
article.latest-20{
    height: 25vh;
    overflow: auto;
}

/*
dashboard
 */
thead th{
    font-style: italic;
}

/*
form error message
 */
p.error{
    color: #e3342f;
    font-size: x-small;
    margin-top: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}