body{
    margin:0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h4{
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: larger;
}

main {
    width: 90vw;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

/* nav */
nav{
    width: 100vw;
    margin:0 auto;
}

nav ul {
    all:initial;
    width: 100vw;
    border-collapse: collapse;
    display: flex;
}

nav li{
    list-style-type:none;
}

nav a {
    text-decoration: none;
    border: solid black;
    border-width: 1px 0 1px 1px;
    display: inline-block;
    padding: 10px 20px;
    border-collapse: collapse;
    background-color: beige;
}

nav a:first-child{
    width: 30.3333vw;
}
nav a:nth-child(2){
    width: 30.3333vw;
}
nav a:last-child{
    width: 39.3333vw;
}

nav a:last-child{
    border-width: 1px 1px 1px 1px;
}

nav a:last-child {
    margin-right: 0;
}

/*
search bar
 */
.search-bar {
    width: 100%;
    margin: 0.75em 0;
    height: 32px;
    border: solid black 2px;
    border-radius: 5px;
    border-collapse: collapse;
}

.search-bar input {
    display: inline-block;
    margin-right: 0.75em;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding-left: 0.75em;
    border-collapse: collapse;
}

.icon img {
    width: 32px;
    height: 32px;
}
/*
all the schedule divs
 */

article{
    margin:0.75em 0;
    background-color: #fcf4e3;
    border-radius: 5px;
    padding: 0.45em;
    box-sizing: border-box;
    overflow: auto;
}

/*
set max-height
 */
article.latest-20{
    max-height: 25vh;
    overflow: auto;
}

article.all-the-orders{
    max-height: 80vh;
    overflow: auto;
}

.schedules .wrapper{
    justify-content: space-between;
}

.schedules .morning, .schedules .afternoon{
    height: 100%;
    background-color: #bde2f8;
}

.schedules table{
    border-spacing: 0.3em;
    border: solid 1px black;
}

.schedules td,.schedules th{
    border: solid 1px black;
    padding: 0.15em 0.25em;
}

.schedules caption{
    font-style: italic;
    text-align: left;
}

.slot-configure input{
    max-width: 6em;
}

div.schedule span{
    display: inline-block;
    margin-right: 0.25em;
}


/*
dashboard
 */
thead th{
    font-style: italic;
}
/*
change bookable weekdays
 */
.weekdays input{
    display: none;
}

.weekdays label{
    display: inline-block;
    border: solid 1px #fc925a;
    padding: 4px 4px;
    border-radius: 5px;
    text-align: center;
    min-width: 5rem;
    max-width: 5rem;
}

.weekdays input[type=checkbox]+label{
    margin: 0.2em;
}
.weekdays label:hover{
    cursor: pointer;
}

.weekdays input:checked+label{
    background-color: #fc925a;
    color: white;
}

/*
form error message
 */
p.error{
    color: #e3342f;
    font-size: x-small;
    margin-top: 2px;
    margin-left: 1.5em;
}

/* schedule article */
article.schedules{
    width: 90vw;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}

.labels label, .inputs input {
    border-radius: 5px;
    padding: 4px 6px;
    display: block;
    margin: 0.7em;
}

.date input{
    border: solid 1px #fc925a;
    border-radius: 5px;
    margin-left: 0.7em;
    padding: 4px 8px;
}

.labels {
    margin-right: 10px;
}

.time-slots label {
    border-radius: 5px;
    border: solid 1px #fc925a;
    padding: 4px 8px;
    display: inline-block;
    text-align: center;
}

.time-slots .checked {
    background-color: #fc925a;
    color: white;
}

.time-slots label:hover {
    background-color: #fc925a;
    color: white;
    cursor: pointer;
    transition: background-color 200ms;
}
.time-slots label:active{
    background-color: #fc925a;
    color: white;
}

.time-slots .booked {
    background-color: #e4d6fd;
}
.time-slots .booked:hover{
    cursor: not-allowed;
    background-color: #e4d6fd;
}

/*
button
 */

button.big {
    margin: 0.7em 0 0.7em 0.7em;
    background-color: #fc925a;
    border: 0;
    border-radius: 20px;
    padding: 6px 12px;
    color: white;
    font-size: 17px;
    font-weight: 450;
}

button.small {
    margin: 0.2em;
    background-color: #fc925a;
    border: 0;
    border-radius: 5px;
    padding: 2px 6px;
    color: white;
    font-weight: 400;
}

input.time_slot {
    display: none;
}

.time-slots > div {
    margin: 0.7em;
}

section.appointment-details{
    display: block;
    width: 70vw;
    margin: 2em auto;
}

.appointment-details table{
    width: 50vw;
    margin: 0 auto;
}

.appointment-details table, .appointment-details td{
    border: solid 1px #333;
}

.appointment-details .name{
    width: 8em;
    overflow: auto;
}
.appointment-details .value{
    width: 15em;
    overflow: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}