body{
    margin:0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;

}



main {
    width: 90vw;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

/* nav */
nav{
    width: 100vw;
    margin:0 auto;
}

nav ul {
    all: initial;
    width: 100vw;
    border-collapse: collapse;
    display: flex;
}

nav li {
    border: solid black 1px;
    border-width: 1px 0 1px 1px;
    display: inline-block;
    padding: 10px 20px;
    border-collapse: collapse;
    background-color: beige;
}

nav li:first-child{
    width: 30.3333vw;
}
nav li:nth-child(2){
    width: 30.3333vw;
}
nav li:last-child{
    width: 39.3333vw;
}

nav li:last-child{
    border-width: 1px 1px 1px 1px;
}

nav li:last-child {
    margin-right: 0;
}

/*
search bar
 */
.search-bar {
    width: 100%;
    margin: 0.75em 0;
    height: 32px;
    border: solid black 2px;
    border-radius: 5px;
    border-collapse: collapse;
}

.search-bar input {
    display: inline-block;
    margin-right: 0.75em;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding-left: 0.75em;
    border-collapse: collapse;
}

.icon img {
    width: 32px;
    height: 32px;
}
/*
all the schedule divs
 */
article.today, article.tomorrow, article.the-day-after-tomorrow, article.latest-20{
    margin:0.75em 0;
    background-color: #fcf4e3;
    border-radius: 5px;
    padding: 0.45em;
    box-sizing: border-box;
    overflow: auto;
}

.schedule .wrapper{
    justify-content: space-between;
}

.schedule .morning, .schedule .afternoon{
    height: 100%;
    background-color: #bde2f8;
}

/*
today div
 */

article.today{
    height: 20vh;
}

/*
tomorrow div
 */
article.tomorrow{
    height: 20vh;
}

/*
the-day-after-tomorrow div
 */
article.the-day-after-tomorrow{
    height: 20vh;
}

div.schedule span{
    display: inline-block;
    margin-right: 0.25em;
}

/*
latest 20 orders
 */
article.latest-20{
    height: 25vh;
    overflow: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}