.wrapper {
    display: flex;
}

nav.wrapper {
    justify-content: space-between;
}

p.error{
    color: #e3342f;
    font-size: x-small;
    margin-top: 2px;
}

.nav-logo img {
    width: 2em;
    margin: 0 1em;
}

.appointment button {
    margin: 1em;
    padding: 5px;
}

section.appointment{
    width: 100vw;
}

article.schedule{
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    background-color: lavender;
}

.labels label, .inputs input {
    border-radius: 5px;
    padding: 4px;
    display: block;
    margin: 0.7em;
}

.inputs input {
    width: 12em;
}

.labels {
    margin-right: 10px;
}

/* nav */

nav li {
    all: initial;
    margin-right: 2em;
}

nav li:last-child {
    margin-right: 0;
}

/* schedule article */
.time-slots label {
    border-radius: 5px;
    padding: 4px;
    display: inline-block;
    text-align: center;
}

.time-slots label{
    background-color: #b38cf3;
}

.time-slots .checked {
    background-color: #f66d7d;
}

/*
.booked::after{
    content: '';
}
 */
.time-slots label:hover {
    background-color: #f66d7d;
    cursor: pointer;
    transition: background-color 200ms;
}
.time-slots label:active{
    background-color: #f1939e;
}

.time-slots .booked {
    background-color: #e4d6fd;
}
.time-slots .booked:hover{
    cursor: not-allowed;
    background-color: #e4d6fd;
}

input.time_slot {
    display: none;
}

.time-slots > div {
    margin: 0.7em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}