body{
    margin: 0;
}

.wrapper {
    display: flex;
}

/*
button
 */

.appointment button {
    margin: 1em;
    background-color: #03A5D4;
    border: 0;
    border-radius: 1500px;
    padding: 9px 17px;
    color: white;
}

/* nav */
nav{
    margin-left: 1em;
}
nav > div.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav li {
    list-style: none;
    margin-right: 20px;
}
li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav li:last-child {
}

.hamburger-wrapper{
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
img.hamburger-icon{
    height: 1.5em;
    display: none;
    margin: 1em auto;
}

@media screen and (max-width: 400px) {
    nav ul.wrapper{
        display: none;
    }
    img.hamburger-icon{
        display: block;
    }
}

nav ul.wrapper{
    justify-content: space-around;
}

nav.wrapper {
    justify-content: space-between;
}

.nav-logo img {
    display: block;
    height: 2em;
    margin: 1em auto;
}

p.error{
    color: #e3342f;
    font-size: x-small;
    margin-top: 2px;
}

main, section.appointment{
}

.center-pic{
    margin-left: 1em;
}

.center-pic img{
    width: 90vw;
    margin: 0 auto;
    display: inline-block;
}

article.schedule{
    width: 90vw;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}

.labels label, .inputs input {
    border-radius: 5px;
    padding: 4px 6px;
    display: block;
    margin: 0.7em;
}

.date input[type='date']{
    margin: 0.7em;
}

.inputs input {
    width: 12em;
}

.labels {
    margin-right: 10px;
}

/* schedule article */
.time-slots label {
    border-radius: 5px;
    border: solid 1px #03A5D4;
    padding: 4px;
    display: inline-block;
    text-align: center;
}

.time-slots .checked {
    background-color: #03A5D4;
    color: white;
}

/*
.booked::after{
    content: '';
}
 */
.time-slots label:hover {
    background-color: #03A5D4;
    cursor: pointer;
    transition: background-color 200ms;
}
.time-slots label:active{
    background-color: #64b4cc;
}

.time-slots .booked {
    background-color: #e4d6fd;
}
.time-slots .booked:hover{
    cursor: not-allowed;
    background-color: #e4d6fd;
}

input.time_slot {
    display: none;
}

.time-slots > div {
    margin: 0.7em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}