body{
    margin: 0;
}

.flex{
    display: flex;
}

main{
    position: relative;
}

.wrapper {
    display: flex;
}

/* nav */
nav{
    margin-left: 1em;
}
nav > div.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav li:last-of-type{
    margin-right: 0;
}

ul{
    all:initial;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav li:last-child {
}

.hamburger-wrapper{
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
img.hamburger-icon{
    cursor: pointer;
    height: 1.5em;
    display: none;
    margin: 1em auto;
}

.dropdown-menu{
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #03a5d4e6;
    pointer-events: none;
    opacity: 0;
    transition: 300ms ease-in-out;
    z-index: 1;
    border-radius: 10px;
    font-family: Arial ,sans-serif;
    font-size: large;
    padding-top: 0.125em;
    padding-bottom: 1.125em;
    white-space: nowrap;
}

.menu-top-bar img{
    height: 1.25em;
}

.dropdown.active > .hamburger-icon + .dropdown-menu{
    transform: translateX(-1em);
    opacity: 1;
    pointer-events: auto;
}

.menu-items > div > a:hover{
    color: black;
}

.dropdown-menu a{
    text-decoration-line: unset;
    color: white;
    display: block;
    padding-right: 2.75em;
}

.menu-top-bar .x-mark{
    cursor: pointer;
    position: absolute;
    right: 2em;
    color: white;
    text-decoration-thickness: 1px;
    font-family: Helvetica, sans-serif;
    font-size: smaller;
    line-height: 1.5em;
}

.menu-top-bar {
    position: relative;
    padding: 0.125em 0;
}

.menu-top-bar.flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu-top-bar img{
    height: 1.25em;
}

.dropdown-menu hr:first-child {
    margin-top: 0;
    height: 0;
}

.dropdown-menu hr {
    border: none;
    height: 1px;
    background-color: #e8e8e4;
}

.menu-items {
    width: 80%;
    margin: 0 auto;
    padding-top: 0.125em;
}

@media screen and (max-width: 500px) {
    nav ul.wrapper{
        display: none;
    }
    img.hamburger-icon{
        display: block;
    }
}

nav ul.wrapper{
    justify-content: space-around;
}

nav.wrapper {
    justify-content: space-between;
}

.nav-logo img {
    display: block;
    height: 2em;
    margin: 1em auto;
}

p.error{
    color: #e3342f;
    font-size: x-small;
    margin-top: 4px;
    margin-left: 2em;
}

.center-pic{
    margin-left: 1em;
}

.center-pic img{
    width: 90vw;
    margin: 0 auto;
    display: inline-block;
    max-width: 1000px;
}


/*
landing page
 */

/*
.landing-page h1{
    letter-spacing: 1px;
}
 */

.landing-page{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.landing-page a{
    all: initial;
}

article.first{
    height: calc(100vh - 4rem);
}
.landing-page p, .landing-page li{
    font-size: 1.25em;
}

.landing-page article:first-of-type{
    margin-bottom: 0;
}

.landing-page article{
    font-family: Helvetica, sans-serif;
    margin-bottom: 3em;
}

.landing-page article:first-of-type{
    margin-top: 0;
}

.landing-page .card{
    height: 50%;
}

.landing-page .cozy-home-pic{
    width: 100%;
    margin: 0.25em auto;
    margin-bottom: 0;
}
button.go-to-form {
    all: initial;
    color: white;
    background-color: #03A5D4;
    font-weight: normal;
    font-size: 1.2em;
    padding: 0.7em 1em;
    text-align: center;
    border-radius: 10px;
    display: block;
    width: 10em;
    margin: 2.2em auto;
}

.ml-10{
    margin-left: 10px;
}

/* schedule article */
/*
div.schedule{
    width: 90vw;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
}
 */

article.fill-form header{
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 1.2em auto 1em auto;
}

h1#fill-form{
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0;
}
h1#now{
    margin-top: 0;
    text-align: center;
    font-size: 2em;
}

.confirm {
    max-width: 640px;
    margin:0 auto;
    padding: 15px;
    box-sizing: border-box;
}

/*
.labels label, .inputs input {
    border-radius: 5px;
    padding: 4px 6px;
    display: block;
    margin: 0.7em;
}
 */

.date input{
    all:initial;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.date input{
    border:0;
    border-bottom: solid 1px #03A5D4;;
    cursor:pointer;
    box-shadow: inset 1px 1px 5px rgba(3, 165, 212, 0.94);
    margin-bottom: 0.3em;
    font-size: 1.2em;
    padding: 5px 8px;
    width: 12em;
}

.time-slots label, .date input {
    border-radius: 5px;
    border: solid 1px #03A5D4;
    padding: 4px 8px;
    display: inline-block;
    text-align: center;
    width: 10em;
}

.time-slots .checked {
    background-color: #03A5D4;
    color: white;
}

.time-slots label:hover {
    background-color: #03A5D4;
    color: white;
    cursor: pointer;
    transition: background-color 200ms;
}
.time-slots label:active{
    background-color: #64b4cc;
    color: white;
}

.time-slots .booked {
    background-color: #cbf0fc;
    color: white;
}
.time-slots .booked:hover{
    cursor: not-allowed;
    background-color: #cbf0fc;
    color: white;
}

.one-slot{
    position: relative;
}

.which-type {
    position: absolute;
    line-height: 1.8em;
    width: 7em;
    font-size: 0.7em;
    padding: 4px 0;
    margin-left: 4px;
    display: inline-block;
    border-radius: 5px;
    color: rgb(28,175,130);
}

form.appointment{
    margin-top: 3em;
}

/*
appointment button
 */

.appointment button {
    all: initial;
    color: white;
    background-color: #03A5D4;
    font-weight: normal;
    font-size: 1.2em;
    padding: 0.7em 1em;
    text-align: center;
    border-radius: 10px;
    display: block;
    width: 14em;
    margin: 1em auto;
    margin-top: 2em;
}

.appointment button:hover,
button.go-to-form:hover{
    cursor: pointer;
    background-color: #50afcb;
}

input.time_slot {
    display: none;
}

.time-slots > div {
    margin: 0.7em;
}

div.message {
    margin: 0 auto;
    background-color: greenyellow;
    padding: 2px 4px;
    border-radius: 4px;
    position: absolute;
    top: -15px;
    font-size: 12px;
    right: 20px;
}

.hide{
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}